:host {
    width: 100%;
    height: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

main {
    place-content: center;
    transform: translateY(50%);
}

footer {
    position: absolute;
    bottom: 20px;
    right: 20px;

    button {
        cursor: pointer;
    }
}
